body {
    color: #dddddd;
    background-color: #222222;
    font-size: 28px;
}

nav {
    background-color: #111111;
    height: 30px;
    padding: 0 10px; /* Add padding to give some space inside the nav */
    margin: 0;
    display: flex;
    align-items: center; /* Centers the items vertically */
    justify-content: space-between; /* Distributes space between items */
}

nav a {
    font-size: 12px;
    text-decoration: none; /* Optional: Remove underline from links */
    color: #ff8800; /* Optional: Set link color */
}

#status {
    font-size: 10px;
    color: #ff3333; /* Optional: Set status color */
}



a {
    color: #ff8800;
}

h3 {
    font-size: 20px;
}

p {
    font-size: 14px;
}

input[type="checkbox"] {
    transform: scale(1.5);
}
