body {
    color: #dddddd;
    background-color: #222222;
    font-size: 28px;
}

nav a {
  font-size: 12px;
}

a {
    color: #ff8800;
}

h3 {
  font-size: 20px;
}

p {
font-size: 14px;
}


input[type="checkbox"] {
    transform: scale(1.5);
}
