body {
    color: #dddddd;
    background-color: #222222;
    font-size: 28px;
}

nav {
    background-color: #111111;
    height: 30px;
    padding: 0;
    margin: 0;
    display: flex;
    align-items: center; /* Centers the links vertically */
}

nav a {
    font-size: 12px;
    padding: 0 10px; /* Adjust padding as needed for spacing between links */
    margin: 0;
    position: relative;
    top: 0;
    left: 0;
    text-decoration: none; /* Optional: Remove underline from links */
    color: #ff8800; /* Optional: Set link color */
}

#status {
    float: right;
    font-size: 10px;
}

a {
    color: #ff8800;
}

h3 {
    font-size: 20px;
}

p {
    font-size: 14px;
}

input[type="checkbox"] {
    transform: scale(1.5);
}
